@import "tailwindcss";


body{
  font-family: "font-serif",font-serif;
  width: 100vw;
  overflow-x:hidden ;
}


@keyframes waveMove {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 120px;
  }
}

.animate-wave {
  animation: waveMove 6s linear infinite;
}
.ql-container{
  border: none !important;
}.ql-toolbar{
  border: none !important;
}.ql-editor{
  border: none !important;
}
.quill-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 12px 0;
}

.quill-content p {
  margin-bottom: 1rem;
  line-height: 1.7;
}

.quill-content h1,
.quill-content h2,
.quill-content h3 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.quill-content ul,
.quill-content ol {
  padding-left: 1.4rem;
  margin-bottom: 1rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}