@import "tailwindcss";


body{
  font-family: "font-serif",font-serif;
  width: 100vw;
  overflow-x:hidden ;
}


@keyframes waveMove {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 120px;
  }
}

.animate-wave {
  animation: waveMove 6s linear infinite;
}
.ql-container{
  border: none !important;
}.ql-toolbar{
  border: none !important;
}.ql-editor{
  border: none !important;
}